<h1>All restaurants</h1>

<ul>
  <% @restaurants.each do | restaurant | %>
    <li><%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%> <%=restaurant.name%>, <%=restaurant.address%>, <%=restaurant.phone_number %>,<%=restaurant.category%></li>
  <% end %>
</ul>

<%= link_to "Add restaurant", new_restaurant_path(@restaurant), class: "btn btn-primary" %>
